html {
    height: 100%;
}

ol, ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.main h4{
    font: bold 22px 'Arial';
}
.table{
    width: 30%;
}
.table h5{
    font: bold 16px 'Arial';
    width: fit-content;
}
.table h5:hover{
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted black;
}

.tooltip .tooltip-text {
    visibility: hidden;
    color: black;
    width: fit-content;
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid black;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    font: 14px 'Arial';
}
.table h6{
    font: 14px 'Arial';
}
.block{
    float: left;
}
.clear-fix:before,
.clear-fix:after {
    content: " ";
    display: table;
}
.clear-fix:after {
    clear: both;
}
.row{
    border: solid;
}
.creation{
    cursor: pointer;
    text-align: center;
    border: solid;
    border-top: none;
}
.del{
    width: 100px;
    height: 64px;
}
.delete{
    position: relative;
    left: 50px;
    top: 10px;
    background: none;
    cursor: pointer;
}